<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css"
            integrity="sha512-r/Gan7PMSRovDus++vDS2Ayutc/cSdl268u047n4z+k7GYuR7Hiw71FsT3QQxdKJBVHYttOJ6IGLnlM9IoMToQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>Know Weather</title>
    </head>
    <body>
        <% let d = new Date(); let ph = ""; if (d.getHours() >= 5 &&
        d.getHours() <= 18) ph = "day-"; else ph = "night-"; let weather =
        data[0]; let list = data[1].list; let iconString = "wi wi-owm-"+ph; %>
        <div class="main">
            <!--Header Text-->
            <div class="headerContainer">
                <p><%= weather.name + ", " + weather.sys.country%></p>
                <p id="LocationPrompt">Change Location</p>
                <form
                    action="/"
                    id="accordianForm"
                    class="city-form"
                    method="POST"
                >
                    <input type="text" name="city" id="city" />
                    <button class="sub-btn" type="submit">Search</button>
                </form>
            </div>
            <!--Info Body-->
            <div class="infoContainer">
                <div>
                    <!--ICON-->
                    <div class="weather">
                        <% let s = iconString + weather.weather[0].id;%>
                        <i class="<%=s%>"></i>
                        <span><%= weather.weather[0].main%> </span>
                    </div>
                    <!--Temperature-->
                    <div class="temperature">
                        <%= Math.round(weather.main.temp) %> <sup>o</sup>C
                    </div>
                </div>
            </div>
            <!--stats-->
            <div class="stats">
                <!--Humidity-->
                <div class="statContent">
                    <i class="wi wi-humidity"></i>
                    <div class="stat-text">
                        <p>Humidity</p>
                        <h1><%= weather.main.humidity %>%</h1>
                    </div>
                </div>
                <!--Pressure-->
                <div class="statContent">
                    <i class="wi wi-barometer"></i>
                    <div class="stat-text">
                        <p>Pressure</p>
                        <h1><%= weather.main.pressure%> PS</h1>
                    </div>
                </div>
                <!--Wind-->
                <div class="statContent">
                    <i class="wi wi-strong-wind"></i>
                    <div class="stat-text">
                        <p>Wind</p>
                        <h1><%= weather.wind.speed %> m/s</h1>
                    </div>
                </div>
            </div>
            <!--Forecast Section-->
            <div class="forecast">
                <div class="header">
                    <h1 class="forecastHeader">5 Days Forecast</h1>
                    <div class="forecastContainer">
                        <% for(i = 0; i < 40; i++ ) { if (i % 8 == 0) { %>
                        <div class="forecastItem">
                            <% let a = new Date(list[i].dt * 1000); let f =
                            iconString + list[i].weather[0].id %>
                            <i class="forecastIcon <%=f%>"></i>
                            <p class="forecastTemp">
                                <%= Math.round(list[i].main.temp) %>
                                <sup>o</sup>C
                            </p>
                            <p class="forecastDesc">
                                <%= list[i].weather[0].main %>
                            </p>
                            <p class="forecastDate">
                                <%= a.toLocaleDateString('en-US', {month:
                                "short", day: "numeric", weekday:"short", year:
                                "numeric"}) %>
                            </p>
                        </div>
                        <% } else { continue; } } %>
                    </div>
                </div>
            </div>
            <div class="color-overlay"></div>
        </div>

        <!-- Scripts-->
        <script>
            //accessing main bg element
            const main = document.getElementsByClassName("main")[0];
            const overlay = document.getElementsByClassName("color-overlay")[0];

            //Finding time
            // "March 13, 08 21:20"
            const time = new Date();
            const hours = time.getHours();
            let period = "";
            console.log(hours);
            if (hours >= 6 && hours <= 8) {
                period = "dawn";
                overlay.style.backgroundColor = "#17021e6c";
            } else if (hours > 8 && hours <= 12) {
                period = "morning";
                overlay.style.backgroundColor = "#03142880";
            } else if (hours > 12 && hours <= 17) {
                period = "noon";
                overlay.style.backgroundColor = "#36201386";
            } else if (hours > 17 && hours <= 19) {
                period = "dusk";
                overlay.style.backgroundColor = "#44051d59";
            } else {
                period = "night";
                overlay.style.backgroundColor = "#030f1c99";
            }
            //generating random number from 1 to 2
            let i = Math.floor(Math.random() * 2) + 1;
            //Final method and event Listener to change images acc to device
            const matchFunction = (x) => {
                if (x.matches) {
                    main.style.backgroundImage = `url(./css/images/mobile/${period}-${i}.jpg)`;
                } else {
                    main.style.backgroundImage = `url(./css/images/desktop/${period}-${i}.jpg)`;
                }
            };
            let x = window.matchMedia("(max-width: 1024px)");
            matchFunction(x);
            x.addEventListener("change", matchFunction);
        </script>
        <script src="./js/index.js"></script>
    </body>
</html>
